body{
    margin: 0;
    font-size: 14px;
    background-color: white;
}
body.dark{
    background-color: black;
    color: white;
}
h2{
    margin: 5px;
}
a {
    /* color: #FF8800; */
    color: #dd6600;
}
/* @media (max-width: 768px){
    body{
        font-size: 16px;
    }
} */
.game-screen{
    padding: 5px 0;
    min-width: 100vw;
    min-width: 100%;
    text-align: center;
    display: none;
}
#top-menu{
    padding: 5px 0;
    width: 100vw;
    width: calc(100% - 2.5px);
    text-align: center;
    border-bottom: 3px solid grey;
}
#top-menu>h2{
    margin: 5px 0;
}
.edit-hero-block{
    margin: 10px;
    display: inline-block;
    padding: 10px 5px;
    box-shadow: 1px 1px 10px grey;
}
.edit-hero-block>p{
    margin: 10px;
}
.edit-hero-block>p>input[type="button"]{
    padding: 1px 4px;
}
.edit-hero-block>p>input[type="button"]:disabled{
    opacity: 0.5;
}
#heroes-container{
    width: 50%;
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-content: center;
    float: left;
    flex-flow: wrap;
    flex-direction: row-reverse;
}
#hero-blocks-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    float: left;
    flex-flow: wrap;
    flex-direction: row-reverse;
}
.hero-block{
    padding: 5px 15px;
    box-shadow: 1px 1px 10px grey;
    border: 3px solid transparent;
    margin: 5px;
    float: right;
    position: relative;
    transition: all 300ms;
    background-color: white;
    z-index: 1;
    max-width: 30%;
    /* flex: 0 0 20%; */
}
@media (max-width: 768px){
    .hero-block{
        max-width: 36%;
    }
}
body.smallUnits .hero-block .hero-health, .hero-block .hero-health{
    margin: 0 -10px;
}
body.dark .hero-block{
    background-color: black;
}
body.smallUnits .hero-block{
    padding: 2px 15px;
    margin: 5px;
}
body.tinyUnits .hero-block .hero-health, body.tinyUnits .hero-block .hero-armor, body.tinyUnits .hero-block .hero-healing{
    display: none;
}
body.tinyUnits .enemy-block .enemy-health{
    display: none;
}
body.tinyUnits .hero-block, body.tinyUnits .enemy-block{
    padding: 2px 7.5px;
}
.hero-block>h3,.hero-block>p{
    position: relative;
    z-index: 2;
}
.hero-block-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: lightgrey;
    transition: width 3000ms;
}
body.dark .hero-block-loader{
    background-color: #222222;
}
.hero-block.active{
    border: 3px solid orange;
}
.hero-block>h3,.hero-block>p{
    margin: 7.5px;
}
.hero-block>h3{
    transition: color 300ms;
}
.hero-block>p{
    overflow-wrap: break-word;
}
.hero-block>p>span{
    overflow-wrap: normal;
}
#enemies-container{
    width: 50%;
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-content: center;
    float: right;
    flex-flow: wrap;
}
.enemy-block{
    padding: 5px 15px;
    box-shadow: 1px 1px 10px grey;
    border: 3px solid transparent;
    margin: 5px;
    float: left;
    position: relative;
    transition: all 300ms;
    background-color: white;
    z-index: 1;
    max-width: 30%;
    /* flex: 0 0 20%; */
}
@media (max-width: 768px){
    .enemy-block{
        max-width: 40%;
    }
}
body.smallUnits .enemy-block .enemy-health, .enemy-block .enemy-health{
    margin: 0 -10px;
}
body.dark .enemy-block{
    background-color: black;
}
body.smallUnits .enemy-block{
    padding: 2px 15px;
    margin: 5px;
}
.enemy-block>h3,.enemy-block>p{
    position: relative;
    z-index: 2;
}
.enemy-block-loader{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: lightgrey;
    transition: width 3000ms;
}
body.dark .enemy-block-loader{
    background-color: #222222;
}
.enemy-block.active{
    border: 3px solid orange;
}
.enemy-block>h3,.enemy-block>p{
    margin: 7.5px;
}
.enemy-block>h3{
    transition: color 300ms;
}
.HealthValue{
    margin: 0 5px;
}
.damageValue{
    margin: 0 5px;
}
.armorValue{
    margin: 0 5px;
}
.healingValue{
    margin: 0 5px;
}
#edit-hero-confirm-button{
    display: none;
    padding: 25px;
}
.button{
    padding: 10px 25px;
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    margin: 5px;
    transition: all 300ms;
}
.button.purchased{
    border: 1px solid orange;
    background-color: lightgrey;
}
body.dark .button.purchased{
    background-color: #222222;
}
.button.highlight{
    border: 1px solid orange;
}
.button.active-trial{
    border: 1px solid green;
}
.button:hover{
    background-color: lightgrey;
}
body.dark .button:hover{
    background-color: #222222;
}
.button.green{
    background-color: green;
}
#combat-log{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: -1;
}
#combat-log.log-left{
    text-align: left;
}
/* #battlefield-screen{
    padding-bottom: 200px;
} */
body.smallUnits #heroes-container, body.smallUnits #enemies-container{
    font-size: 85%;
}
body.smallUnits .hero-block>p, body.smallUnits .enemy-block>p{
    margin: 5px;
}
#combat-log-1{
    opacity: 0;
}
#combat-log-2{
    opacity: 0;
}
#combat-log-3{
    opacity: 0;
}
#combat-log-4{
    opacity: 0;
}
#combat-log-5{
    opacity: 0;
}
#combat-log-6{
    opacity: 0.1;
}
#combat-log-7{
    opacity: 0.2;
}
#combat-log-8{
    opacity: 0.3;
}
#combat-log-9{
    opacity: 0.4;
}
#combat-log-10{
    opacity: 0.5;
}
#combat-log-11{
    opacity: 0.6;
}
#combat-log-12{
    opacity: 0.7;
}
#combat-log-13{
    opacity: 0.8;
}
#combat-log-14{
    opacity: 0.9;
}
body.smallUnits #combat-log-1{
    opacity: 0.1;
}
body.smallUnits #combat-log-2{
    opacity: 0.15;
}
body.smallUnits #combat-log-3{
    opacity: 0.2;
}
body.smallUnits #combat-log-4{
    opacity: 0.25;
}
body.smallUnits #combat-log-5{
    opacity: 0.3;
}
body.smallUnits #combat-log-6{
    opacity: 0.35;
}
body.smallUnits #combat-log-7{
    opacity: 0.4;
}
body.smallUnits #combat-log-8{
    opacity: 0.45;
}
body.smallUnits #combat-log-9{
    opacity: 0.5;
}
body.smallUnits #combat-log-10{
    opacity: 0.6;
}
body.smallUnits #combat-log-11{
    opacity: 0.7;
}
body.smallUnits #combat-log-12{
    opacity: 0.8;
}
body.smallUnits #combat-log-13{
    opacity: 0.9;
}
body.smallUnits #combat-log-14{
    opacity: 0.95;
}
@media (min-height: 840px), (min-height: 700px) and (min-width: 1200px), (orientation: portrait){ /* Always extend combat log for bigger screens */
    #combat-log-1{
        opacity: 0.1;
    }
    #combat-log-2{
        opacity: 0.15;
    }
    #combat-log-3{
        opacity: 0.2;
    }
    #combat-log-4{
        opacity: 0.25;
    }
    #combat-log-5{
        opacity: 0.3;
    }
    #combat-log-6{
        opacity: 0.35;
    }
    #combat-log-7{
        opacity: 0.4;
    }
    #combat-log-8{
        opacity: 0.45;
    }
    #combat-log-9{
        opacity: 0.5;
    }
    #combat-log-10{
        opacity: 0.6;
    }
    #combat-log-11{
        opacity: 0.7;
    }
    #combat-log-12{
        opacity: 0.8;
    }
    #combat-log-13{
        opacity: 0.9;
    }
    #combat-log-14{
        opacity: 0.95;
    }
}
.combat-log-record{
    margin: 0;
    padding: 1px 5px;
    border-top: 1px solid grey;
    display: none;
}
.button-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 0px;
}
.top-menu-button{
    display: inline-block;
}
#top-menu-battlefield-button{
    display: none;
}
.top-menu-button.button-locked{
    opacity: 0.5;
}
#top-menu-prestige-button{
    display: none;
}
#top-menu-ascension-button{
    display: none;
}
#top-menu-transcension-button{
    display: none;
}
#top-menu-shop-button{
    display: none;
}
#game-gold-block{
    display: none;
}
#top-menu-armory-button{
    display: none;
}
.current-health-text{
    transition: all 300ms;
}
#current-game-experience{
    transition: color 1000ms;
}
#experience-percentage{
    transition: color 1000ms;
}
#game-level{
    transition: all 3000ms;
}
#game-floor{
    transition: color 1000ms;
}
#game-highest-floor{
    transition: color 3000ms;
}
#prestige-screen{
    padding-top: 0;
}
#ascension-screen{
    padding-top: 0;
}
#transcension-screen{
    padding-top: 0;
}
#info-screen{
    padding-top: 0;
}
.info-button{
    display: none;
}
#prestige-menu{
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
    border-bottom: 2px solid grey;
}
#ascension-menu{
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
    border-bottom: 2px solid grey;
}
#transcension-menu{
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
    border-bottom: 2px solid grey;
}
#info-menu{
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
    border-bottom: 2px solid grey;
}
.prestige-button-block{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding-top: 0;
    margin-top: -5px;
}
.prestige-button{
    padding: 20px 50px;
    font-size: 150%;
}
.shop-exp-button{
    padding: 20px 50px;
    font-size: 150%;
}
.prestige-upgrade-block{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
}
.prestige-upgrade-block>div>p{
    margin: 7.5px 0;
}
#prestige-screen>div>h2{
    margin-bottom: 5px;
}
.prestige-block{
    display: none;
    padding: 15px;
}
.ascension-block{
    display: none;
    padding: 15px;
}
.transcension-block{
    display: none;
    padding: 15px;
}
.prestige-menu-button.active{
    background-color: #eeeeee;
}
body.dark .prestige-menu-button.active{
    background-color: #222222;
}
.prestige-upgrade-button{
    padding: 5px 15px;
}
.ascension-menu-button.active{
    background-color: #eeeeee;
}
body.dark .ascension-menu-button.active{
    background-color: #222222;
}
.ascension-upgrade-button{
    padding: 5px 15px;
}
.transcension-menu-button.active{
    background-color: #eeeeee;
}
body.dark .transcension-menu-button.active{
    background-color: #222222;
}
.transcension-upgrade-button{
    padding: 5px 15px;
}
.armory-line{
    display: inline-block;
    width: 100%;
}
.armory-upgrade-button{
    padding: 5px 15px;
    display: inline-block;
}
.armory-class-block>div>p {
    margin: 7.5px 0;
}
.armory-class-block{
    width: calc(25% - 11px);
    border-right: 1px solid grey;
    float: left;
    /* display: flex; */
    justify-content: flex-start;
    align-content: center;
    flex-flow: column;
    padding: 5px;
}
#offline-progress-info{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border: 1px solid grey;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 5px;
    background-color: white;
    z-index: 999;
}
body.dark #offline-progress-info{
    background-color: black;
}
#stats-row{
    display: none;
    margin: 0;
    margin-top: 7px;
    width: calc(100% - 10px);
}
#trial-row{
    display: none;
    margin: 0;
    margin-top: 7px;
    width: calc(100% - 10px);
}
#trials-table{
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
#trials-table th{
    font-weight: 600;
    border: 1px solid #eeeeee;
}
#trials-table td, #trials-table th{
    padding: 7.5px;
    border: 1px solid #eeeeee;
}
#trials-table, .prestige-upgrade-button>p{
    margin: 7.5px 0;
}
#transcension-perks-table {
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
#transcension-perks-table th{
    font-weight: 600;
    border: 1px solid #eeeeee;
}
#transcension-perks-table td, #transcension-perks-table th{
    padding: 7.5px;
    border: 1px solid #eeeeee;
}
#transcension-perks-table, .prestige-upgrade-button>p{
    margin: 7.5px 0;
}
#feats-table{
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
#feats-table th{
    font-weight: 600;
    border: 1px solid #eeeeee;
}
#feats-table td, #feats-table th{
    padding: 7.5px;
    border: 1px solid #eeeeee;
}
.save-backups-table {
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
.save-backups-table th{
    font-weight: 600;
    border: 1px solid #eeeeee;
}
.save-backups-table td, .save-backups-table th{
    padding: 7.5px;
    border: 1px solid #eeeeee;
}
.save-backups-table, .prestige-upgrade-button>p{
    margin: 7.5px 0;
}
.save-backups-table tr{
    max-height: 30px;
}
#autobuyer-presets-table{
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}
#autobuyer-presets-table th{
    font-weight: 600;
    border: 1px solid #eeeeee;
}
#autobuyer-presets-table td, #autobuyer-presets-table th{
    padding: 7.5px;
    border: 1px solid #eeeeee;
}
#autobuyer-presets-table, .prestige-upgrade-button>p{
    margin: 7.5px 0;
}
#stats-table{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding-left: 15px;
    margin: 0 -7.5px;
    /* display: inline-table;
    min-width: 900px; */
}
#stats-table>tbody{
    display: inline-block;
    text-align: left;
}
#stats-table th, #stats-table td{
    padding: 0;
    padding-right: 15px;
    min-width: 60px;
}
/* #floor-span{
    display: inline-block;
} */
.info-block>h2{
    margin-top: 25px;
}
.info-block>p{
    margin-top: 0;
    margin-bottom: 0;
}
.info-block{
    display: none;
    padding: 0 15px;
    padding-bottom: 25px;
}
#next-prestige-percentage-text{
    white-space: nowrap;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    flex-basis: 300px;
    flex-basis: min(30%, 400px);
}
#next-prestige-percentage-text:empty{
    display: none;
}
#next-ascension-percentage-text{
    white-space: nowrap;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    flex-basis: 300px;
    flex-basis: min(30%, 400px);
}
#next-ascension-percentage-text:empty{
    display: none;
}
#next-transcension-percentage-text{
    white-space: nowrap;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    flex-basis: 300px;
    flex-basis: min(30%, 400px);
}
#next-transcension-percentage-text:empty{
    display: none;
}
.last-layer-progress{
    font-size: 75%;
    font-size: 12px;
    width: 100%;
    text-align: center;
    position: absolute;
    display: inline-block;
    right: 0%;
    top: -15px;
    font-weight: 400;
}
.stats-line{
    white-space: nowrap;
}