body{
    margin: 0;
    font-size: 14px;
    background-color: white;
}
body.dark{
    background-color: black;
    color: white;
}
h2{
    margin: 5px;
}
@media (max-width: 768px){
    body{
        font-size: 10px;
    }
}
.game-screen{
    padding: 5px 0;
    min-width: 100vw;
    text-align: center;
    display: none;
}
#top-menu{
    padding: 5px;
    width: 100vw;
    width: calc(100vw - 10px);
    text-align: center;
    border-bottom: 3px solid grey;
}
#top-menu>h2{
    margin: 5px 0;
}
.edit-hero-block{
    margin: 15px;
    display: inline-block;
    padding: 10px 25px;
    box-shadow: 1px 1px 10px grey;
}
#heroes-container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
    float: left;
    flex-flow: wrap;
    flex-direction: row-reverse;
}
#hero-blocks-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    float: left;
    flex-flow: wrap;
    flex-direction: row-reverse;
}
.hero-block{
    padding: 5px 15px;
    box-shadow: 1px 1px 10px grey;
    border: 3px solid transparent;
    margin: 10px;
    float: right;
    position: relative;
    transition: all 300ms;
    background-color: white;
    z-index: 1;
}
body.dark .hero-block{
    background-color: black;
}
.hero-block>h3,.hero-block>p{
    position: relative;
    z-index: 2;
}
.hero-block-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: lightgrey;
    transition: width 3000ms;
}
body.dark .hero-block-loader{
    background-color: #222222;
}
.hero-block.active{
    border: 3px solid orange;
}
.hero-block>h3,.hero-block>p{
    margin: 7.5px;
}
.hero-block>h3{
    transition: color 300ms;
}
#enemies-container{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
    float: right;
    flex-flow: wrap;
}
.enemy-block{
    padding: 5px 15px;
    box-shadow: 1px 1px 10px grey;
    border: 3px solid transparent;
    margin: 10px;
    float: left;
    position: relative;
    transition: all 300ms;
    background-color: white;
    z-index: 1;
}
body.dark .enemy-block{
    background-color: black;
}
.enemy-block>h3,.enemy-block>p{
    position: relative;
    z-index: 2;
}
.enemy-block-loader{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: lightgrey;
    transition: width 3000ms;
}
body.dark .enemy-block-loader{
    background-color: #222222;
}
.enemy-block.active{
    border: 3px solid orange;
}
.enemy-block>h3,.enemy-block>p{
    margin: 7.5px;
}
.enemy-block>h3{
    transition: color 300ms;
}
.HealthValue{
    margin-right: 5px;
}
.damageValue{
    margin-right: 5px;
}
.armorValue{
    margin-right: 5px;
}
.healingValue{
    margin-right: 5px;
}
#edit-hero-confirm-button{
    display: none;
    padding: 25px;
}
.button{
    padding: 10px 25px;
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    margin: 5px;
    transition: all 300ms;
}
.button.purchased{
    border: 1px solid orange;
    background-color: lightgrey;
}
body.dark .button.purchased{
    background-color: #222222;
}
.button.highlight{
    border: 1px solid orange;
}
.button:hover{
    background-color: lightgrey;
}
body.dark .button:hover{
    background-color: #222222;
}
.button.green{
    background-color: green;
}
#combat-log{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}
/* #battlefield-screen{
    padding-bottom: 200px;
} */
#combat-log-1{
    opacity: 0.1;
}
#combat-log-2{
    opacity: 0.2;
}
#combat-log-3{
    opacity: 0.3;
}
#combat-log-4{
    opacity: 0.4;
}
#combat-log-5{
    opacity: 0.5;
}
#combat-log-6{
    opacity: 0.6;
}
#combat-log-7{
    opacity: 0.7;
}
#combat-log-8{
    opacity: 0.8;
}
#combat-log-9{
    opacity: 0.9;
}
.combat-log-record{
    margin: 0;
    padding: 1px;
    border-top: 1px solid grey;
    display: none;
}
.button-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 15px;
}
.top-menu-button{
    display: inline-block;
}
#top-menu-battlefield-button{
    display: none;
}
#top-menu-prestige-button{
    display: none;
}
#game-gold-block{
    display: none;
}
#top-menu-armory-button{
    display: none;
}
.current-health-text{
    transition: all 300ms;
}
#current-game-experience{
    transition: color 1000ms;
}
#experience-percentage{
    transition: color 1000ms;
}
#game-level{
    transition: all 3000ms;
}
#game-floor{
    transition: color 1000ms;
}
#game-highest-floor{
    transition: color 3000ms;
}
#prestige-screen{
    padding-top: 0;
}
#prestige-menu{
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
    border-bottom: 2px solid grey;
}
.prestige-button-block{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding-top: 0;
    margin-top: -5px;
}
.prestige-button{
    padding: 20px 50px;
    font-size: 150%;
}
.prestige-upgrade-block{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    padding: 5px;
}
.prestige-upgrade-block>div>p{
    margin: 7.5px 0;
}
#prestige-screen>div>h2{
    margin-bottom: 5px;
}
.prestige-block{
    display: none;
    padding: 15px;
}
.prestige-menu-button.active{
    background-color: #eeeeee;
}
body.dark .prestige-menu-button.active{
    background-color: #222222;
}
.prestige-upgrade-button{
    padding: 5px 15px;
}
.armory-upgrade-button{
    padding: 5px 15px;
    display: inline-block;
}
.armory-class-block>div>p {
    margin: 7.5px 0;
}
.armory-class-block{
    width: calc(25vw - 11px);
    border-right: 1px solid grey;
    float: left;
    /* display: flex; */
    justify-content: flex-start;
    align-content: center;
    flex-flow: column;
    padding: 5px;
}
#offline-progress-info{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border: 1px solid grey;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 5px;
    background-color: white;
}
body.dark #offline-progress-info{
    background-color: black;
}